.price {
  color: red;
  font-weight: bold;
}
.title {
  font-weight: bold;
}
.description {
  font-size: 1.1em;
}
.shopping-card {
  color: #fff;
  background: #337ab7;
  padding: 10px 30px;
  text-align: center;
  border-radius: 90px;
  font-weight: 16px;
}
.shopping-card:hover {
  color: #fff;
  background: #00aeef;
}
.link {
  text-align: center;
  margin: 20px 0;
}
.buying:hover {
  background: #fc9e46;
}
.installment {
  padding: 3px 30px;
  border: 1px solid #00aeef;
  background: #fff;
}
.installment:hover {
  background: #00aeef;
}
.externalframe {
  border: 1px solid #eeeeee;
}
.boder {
  overflow: hidden;
}
.boder img {
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
}
.boder img:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  cursor: pointer;
}
